.newsletter_section {
  min-height: 70vh;
  z-index: 3;
}

.newsletter_content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  gap: 30px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.imgnewsletter {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  max-width: 450px;
  max-height: 450px;
}

.imgnewsletter img {
  width: 100%;
  border-radius: 8px;
}

.newsletter_form-title {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.newsletter_form-title input {
  width: 70%;
  background-color: rgba(0, 0, 0, 0.034);
}

.newsletter_form-title h2 {
  font-size: clamp(1.5rem, 2vw, 2.2rem);
  padding-bottom: 30px;
  background: conic-gradient(from var(--gradient-angle),
      lightgray,
      gray,
      var(--primary-color),
      gray,
      lightgray);
  animation: rotation 15s linear infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.newsletter_form-title span {
  font-size: clamp(12px, 3vw, 16px);
  font-family: Onest;
  text-wrap: balance;
}

.signup {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  color: white;
}

.signup input {
  outline: none;
  border: none;
  padding: 0 10px;
  border-radius: 8px;
  font-family: Onest;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.089);
}

.signup input:focus {
  border: 1px solid rgba(0, 0, 0, 0.425);
}


.newsletter_form-title b {
  font-family: Onest;
  color: var(--primary-color);
}

.newsletter_form-title label {
  margin-top: 1rem;
  font-family: Onest;
  font-size: clamp(0.5rem, 2vw, 0.7rem);
}

.newsletter_form-title a {
  font-family: Onest;
  font-weight: 800;
  color: black;
}

@media (width <=768px) {
  .newsletter_content {
    display: flex;
    flex-direction: column;
    padding: 7rem 1rem 7rem 1rem;
  }

  .newsletter_form-title {
    padding-left: 0;
  }
}

@media (width <=428px) {
  .signup {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }

  .signup input {
    width: 100%;
    height: 40px;
  }
}