.navbar {
  width: 100vw;
  position: fixed;
  display: flex;
  font-size: 18px;
  backdrop-filter: blur(10px);
  font-family: SwitzerBold;
  animation: fadeinBg ease both;
  animation-timeline: scroll();
  animation-range: 0 100vh;
  z-index: 50;
}
.UserIcons {
  position: inherit;
  top: 18px;
  right: 60px;
  display: flex;
  gap: 30px;
  font-size: 20px;
}
.header {
  width: 100vw;
}

.header .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  transform: translateY(8px);
}

.header .linksOne {
  flex-grow: 1;
}

.header .linksTwo {
  flex-grow: 1;
}

.header .linksOne ul {
  display: flex;
  justify-content: start;
  gap: 10rem;
  animation: fadeinLinks ease both;
  animation-timeline: scroll();
  animation-range: 0 100vh;
  cursor: pointer;
}

.header .linksTwo ul {
  display: flex;
  justify-content: end;
  gap: 10rem;
  animation: fadeinLinks ease both;
  animation-timeline: scroll();
  animation-range: 0 100vh;
  cursor: pointer;
}

.header .links li:hover {
  color: red;
  transition: all 0.2s ease;
}

.logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoMain {
  width: 1080px;
  fill: var(--primary-color);
  animation: scroll ease both;
  animation-timeline: scroll();
  animation-range: 0 100vh;
}

.fadein {
  animation: fadein ease both;
  animation-timeline: scroll();
  animation-range: 0 100vh;
}

.white_li {
  color: white;
}
.fill_white {
  fill: white;
}
.login_text {
  margin-bottom: 3rem;
}
.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  right: 50px;
  opacity: 0;
  transform: translateY(-30px);
  top: 40px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  transition: 0.2s ease;
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.UserIcons:hover .dropdown {
  opacity: 1;
  transform: translateY(0);
}

@keyframes scroll {
  from {
    width: 1280px;
    padding-bottom: 10px;
    transform: translateX(120px);
  }

  to {
    margin-left: 0;
    position: sticky;
    width: 100px;
    transform: translatex(0px);
    transform: translateY(-15px);
    padding-bottom: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeinLinks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeinBg {
  to {
    box-shadow: 0 5px 50px -5px hsla(0, 0%, 100%, 0.1),
      0 0 0 1px hsla(0, 0%, 100%, 0.1);
    background: rgba(0, 0, 0, 0.349);
  }
}

@media (320px <= width <= 768px) {
  .linksOne {
    display: none;
  }
  .linksTwo {
    display: none;
  }
  .navbar {
    height: 65px;
  }
  .UserIcons {
    right: 30px;
    gap: 20px;
  }
  .logo_wrapper {
    justify-content: start;
    transform: translateY(25px);
  }
}

@media (width <= 428px) {
  .links {
    position: absolute;
  }
  .linksOne {
    display: none;
  }
  .linksTwo {
    display: none;
  }
  .navbar {
    height: 65px;
  }
  .UserIcons {
    right: 25px;
    gap: 15px;
  }
  .logo_wrapper {
    transform: translateY(7.5px);
    height: 80px;
    justify-content: center;
  }
}
