.navbar {
  width: 100vw;
  position: fixed;
  display: flex;
  font-size: 18px;
  backdrop-filter: blur(10px);
  font-family: SwitzerBold;
  /* animation: fadeinBg ease both;
  animation-timeline: scroll();
  animation-range: 0 100vh; */
  z-index: 50;
  transition: all .6s ease;
}
.navbarscrolled{
  box-shadow: 0 5px 50px -5px hsla(0, 0%, 100%, 0.1),
      0 0 0 1px hsla(0, 0%, 100%, 0.1);
  background: rgba(0, 0, 0, 0.349);
  padding-bottom: 30px;
}
.UserIcons {
  position: inherit;
  top: 18px;
  right: 60px;
  display: flex;
  gap: 30px;
  font-size: 20px;
  z-index: 50;
}
.header {
  width: 100vw;
}

.header .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  transform: translateY(8px);
}

.header .linksOne {
  flex-grow: 1;
}

.header .linksTwo {
  flex-grow: 1;
}

.header .linksOne ul {
  display: flex;
  justify-content: start;
  gap: 10rem;
  /* animation: fadeinLinks ease both;
  animation-timeline: scroll();
  animation-range: 0 100vh; */
  transition: all .6s ease;
}

.header .linksTwo ul {
  display: flex;
  justify-content: end;
  gap: 10rem;
  /* animation: fadeinLinks ease both;
  animation-timeline: scroll();
  animation-range: 0 100vh; */
  transition: all .6s ease;
}

.header .links li{
  cursor: pointer;
}

.header .links li:hover {
  color: red;
  transition: all 0.2s ease;
}
.logo{
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.logo_wrapper{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

/* 
.logoMain {
  width: 1080px;
  fill: var(--primary-color);
  animation: scroll ease both;
  animation-timeline: scroll();
  animation-range: 0 100vh;
} */

/* .fadein {
  animation: fadein ease both;
  animation-timeline: scroll();
  animation-range: 0 100vh;
} */

.white_li {
  color: white;
}
.fill_white {
  fill: white;
}
.login_text {
  margin-bottom: 3rem;
}
.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
  right: 15px;
  top: 40px;
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  transition: 0.2s ease;
  box-shadow: var(--shadow-elevation-medium);
}
.UserIcons:hover .dropdown{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  text-align: start;
}
.details{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.login label{
  font-size: 12px;
  width: 100%;
  font-family: SwitzerLight;
  color: var(--blue-color);
}
.create{
  display: flex;
  justify-content: end;
}
.login input{
  width: 100%;
  padding: 10px;
}
.login button{
  padding: 10px;
  background: none;
  border: none;
  font-family: SwitzerMedium;
  font-size: 16px
}
.login button{
  background-color: var(--blue-color);
  border-radius: 5px;
  color: white;
}

#small{
  min-width: 120px;
  transition: all .6s ease;
  transform: translateY(-15px);
}
#big{
  min-width: 1080px;
  transition: all .6s ease;
  transform: translateX(90px);

}
#invisible{
  opacity: 0;
  transition: all .6s ease;
  visibility: hidden;
}
#shown{
  opacity: 1;
  transition: all .6s ease;
  visibility: visible;
}

/* nav */
#visibleUl{
  opacity: 1;
}

#hiddenUl{
  opacity: 0;
}

/* @keyframes scroll {
  from {
    width: 1280px;
    padding-bottom: 10px;
    transform: translateX(120px);
  }

  to {
    margin-left: 0;
    position: sticky;
    width: 100px;
    transform: translatex(0px);
    transform: translateY(-15px);
    padding-bottom: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeinLinks {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeinBg {
  to {
    box-shadow: 0 5px 50px -5px hsla(0, 0%, 100%, 0.1),
      0 0 0 1px hsla(0, 0%, 100%, 0.1);
    background: rgba(0, 0, 0, 0.349);
  }
} */

@media (320px <= width <= 768px) {
  .linksOne {
    display: none;
  }
  .linksTwo {
    display: none;
  }
  .navbar {
    height: 65px;
  }
  .UserIcons {
    right: 30px;
    gap: 20px;
  }
  .navbarscrolled{
    padding-bottom: 0px;
  }
  
}

@media (width <= 428px) {
  .links {
    position: absolute;
  }
  .linksOne {
    display: none;
  }
  .linksTwo {
    display: none;
  }
  .navbar {
    height: 65px;
  }
  .UserIcons {
    right: 25px;
    gap: 15px;
  }
 
}

@media (width <= 320px){
  #big{
    min-width: 600px;
    transition: all .6s ease;
    transform: translateX(50px);
  }
}