.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  font-size: 14px;
  backdrop-filter: blur(10px);
  font-family: Onest;
  height: 50px;
  transition: .5s ease-in-out;
  z-index: 1;
}

.navbarscrolled {
  box-shadow: 0 5px 50px -5px hsla(0, 0%, 100%, 0.1),
    0 0 0 1px hsla(0, 0%, 100%, 0.1);
  background: rgba(0, 0, 0, 0.349);
  z-index: 1;
}

.navbar_wrapper {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  display: flex;

}

.nav_buttons {
  position: relative;
}

.nav_buttons-cta {
  display: flex;
  position: inherit;
  right: 60px;
  font-size: 14px;
  gap: 20px;
  z-index: 1;
}

.nav_buttons-cta {
  color: white;
}

.fill_white {
  fill: white;
}

.nav_buttons {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_buttons:hover .dropdown {
  color: white;
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.logoMain {
  position: fixed;
  top: -5px;
  left: 50%;
  transform: translateX(-50%) translateY(-60px) scale(.15);
  transition: .5s ease-in-out;
  fill: white;
}

.logoMain_small {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-42%) translateY(70px);
  transition: .5s ease-in-out;
  fill: white;
}

.nav_buttons button {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 14px;
  background: none;
  border: none;
  color: white;
  font-family: Onest;
}

.nav_buttons button::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -2px;
  left: 0;
  background-color: #fff;
  transition: transform 0.2s ease-out;
}

.nav_buttons button:hover::after {
  transform: scaleX(1);
}

.nav_buttons button::after {
  transform-origin: bottom right;
}

.nav_buttons button:hover::after {
  transform-origin: bottom left;
}

.nav_buttons-noti {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0px;
  right: -15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0, 102, 255, 0.637);
  opacity: .95;
  backdrop-filter: blur(10px);
  user-select: none;
}

#invisible {
  opacity: 0;
  transition: all 0.2s ease;
  visibility: hidden;
  display: none;
}

#shown {
  opacity: 1;
  transition: all 0.2s ease;
  visibility: visible;
}

/* nav */
#visibleUl {
  opacity: 1;
}

#hiddenUl {
  opacity: 0;
}

@media (320px <=width <=768px) {
  .linksOne {
    display: none;
  }

  .linksTwo {
    display: none;
  }

  .navbar {
    height: 65px;
  }

  .UserIcons {
    right: 30px;
    gap: 20px;
  }

  .navbarscrolled {
    padding-bottom: 0px;
  }


}

@media (width <=428px) {
  .links {
    position: absolute;
  }

  .linksOne {
    display: none;
  }

  .linksTwo {
    display: none;
  }

  .navbar {
    height: 65px;
  }

  .UserIcons {
    right: 25px;
    gap: 15px;
  }
}

@media (width <=320px) {
  #big {
    min-width: 600px;
    transition: all 0.6s ease;
    transform: translateX(50px);
  }
}