.footer_section {
  background-color: var(--secondary-color);
}
.footer_content {
  padding: 4rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_content .logoMain {
  fill: #06191d;
  width: 400px;
}
.footers_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  margin-top: 0.5rem;
  font-family: SwitzerMedium;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
}
.privacyterms {
  display: flex;
  gap: 30px;
  margin-top: 0.5rem;
  font-family: SwitzerMedium;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
}
.privacyterms a {
  color: rgb(74, 87, 87);
  font-family: SwitzerBold;
  text-decoration: underline;
  text-underline-position: below;
}
.privacyterms a:hover {
  color: rgb(3, 3, 3);
  text-decoration: none;
}
hr {
  width: 100%;
}
.socials {
  font-family: SwitzerMedium;
  display: flex;
  gap: 30px;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.socials1 {
  font-size: 28px;
  cursor: pointer;
}
.socials2 {
  font-size: 28px;
  cursor: pointer;
}
.socials1 a {
  color: #06191d;
  transition: 0.3s ease;
}
.socials2 a {
  color: #06191d;
  transition: 0.3s ease;
}
.socials1:hover a {
  color: red;
}
.socials2:hover a {
  color: red;
}
.logoMainFooter {
  width: 160px;
}
.developed {
  font-size: 14px;
  font-family: SwitzerRegular;
  width: 100%;
  text-align: center;
  color: var(--blue-color);
}
.shoutout {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
@media (width <= 428px) {
  .footers_footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}
