.hero_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--secondary-color);
  min-height: 80vh;
  width: 100%;
  font-size: clamp(1.125rem, 2vw, 1.25rem);
}
.hero_section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 90vh;
  padding-top: 7rem;
  gap: 5rem;
}
.header{
  content: '';
}
.hero_section-bg {
  width: 100%;
  z-index: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.377)),
    url(/ARAUCA-LONGBOARD.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero_section-image {
  flex-grow: 1;
  height: 70vh;
  min-width: 1080px;
  border-radius: 10px;
  position: relative;
}
.hero_section-image img {
  width: 100%;
  aspect-ratio: 16/9;
  object-position: center;
  object-fit: cover;
  border-radius: 5px;
}
.cta button {
  background: none;
  border: none;
  padding: 10px 42px;
  font-size: 1.2rem;
  border-radius: 5px;
  font-family: SwitzerRegular;
  border: 1px solid rgba(255, 255, 255, 0.705);
  border-bottom: transparent;
  border-right: transparent;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.637);
  color: white;
  cursor: pointer;
  margin-top: 2rem;
  transition: 0.2s ease;
}
.cta button:hover {
  background-color: var(--secondary-accent-color);
  border: 1px solid white;
}
.hero_section-text {
  position: absolute;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 0;
  right: 0;
  height: 100%;
  padding-top: 40px;
  padding-left: 20px;
  color: white;
}
.hero_section-text h1 {
  font-family: SwitzerExtra;
  font-size: clamp(1.3rem, 2vw, 2.5rem);
  background-color: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero_section-text span {
  font-family: SwitzerLight;
  text-wrap: balance;
}
@media (width <= 768px) {
  
  .hero_section-content {
    padding-top: 0;
    display: flex;
    min-height: 100vh;
  }
  .hero_section-bg{
    background-position: left;
  }
  .hero_section-text {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 60%;
    height: 100%;
  }
  .hero_section-text h1 {
    font-size: clamp(1.3rem, 2vw, 2.5rem);
  }
  .hero_section-text span {
    font-size: clamp(0.8rem, 2vw, 1rem);
  }
  .hero_section-image {
    min-width: 100%;
  }
  
  .hero_section-image{
    padding: 0 30px;
  }
}

@media (width <= 428px) {
  .hero_section-text {
    position: static;
    width: 300px;
  }
}

@media (width <= 320px){
  .hero_section-text{
    width: 250px;
  }
  .hero_section-image{
    padding: 0 30px;
  }
}