#root {
  --primary-color: #030f11;
  --secondary-color: #ececec;
  --accent-color: #8c1c13;
  --secondary-accent-color: #bd1a0f;
  --blue-color: #7d53de;
  --blue-light-color: #7189ff;
}

/* common */

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 4rem;
}
body {
  background: #ececec;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 3px;
  width: 5px;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: #06191d;
}
