:root {
  font-family: PleinBold;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-smooth: always !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
h1 {
  font-size: clamp(32px, 4vw, 64px) !important;
}
h2 {
  font-size: clamp(21px, 4vw, 32px) !important;
}
h3 {
  font-size: clamp(18px, 4vw, 1.5rem) !important;
}

span {
  font-size: clamp(12px, 2vw, 18px);
  text-wrap: balance;
}
p {
  margin-bottom: 0.5rem;
  font-size: clamp(12px, 2vw, 18px);
}
b {
  font-family: SwitzerBold;
}
@font-face {
  font-family: PleinBold;
  src: url(./assets/Plein-Bold.woff2);
}
@font-face {
  font-family: PleinBlack;
  src: url(./assets/Plein-Black.woff2);
}
@font-face {
  font-family: SwitzerBold;
  src: url(./assets/Switzer-Bold.woff2);
}
@font-face {
  font-family: SwitzerExtra;
  src: url(./assets/Switzer-Extrabold.woff2);
}
@font-face {
  font-family: SwitzerLight;
  src: url(./assets/Switzer-Light.woff2);
}
@font-face {
  font-family: SwitzerMedium;
  src: url(./assets/Switzer-Medium.woff2);
}
@font-face {
  font-family: SwitzerRegular;
  src: url(./assets/Switzer-Regular.woff2);
}

html {
  scroll-behavior: smooth;
  font-family: SwitzerBold, system-ui, sans-serif;
}
